body {
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
    
}
.box {
    display: inline-block;
    margin       : auto;
    width        : 12px;
    height       : 12px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(214,32,32,1) 0%, rgba(244,18,66,1) 100%);
  }

.logo-img {
    width: 100px;
    margin: 24px;
}
.main-img {
    height: 480px;
    object-fit: cover;
}

.main-img2 {
    height: 240px;
    object-fit: cover;
}
.head-t {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(223,223,223,1) 0%, rgba(255,255,255,1) 100%);
}

.privacy-link a{
    text-decoration: none;
    border-bottom: 1px solid black;
}

.privacy-link a:hover {
    border-bottom: 2px solid black;
}

.error {
    color: red;
    font-size: 10px;
}


@media (max-width: 768px){
    table {
        font-size: 14px;
    }
    .box {
        display: inline-block;
        margin       : auto;
        width        : 8px;
        height       : 8px;
        background: rgb(2,0,36);
        background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(214,32,32,1) 0%, rgba(244,18,66,1) 100%);
      }
      .closing {
        font-size: 12px;
      }
      .cl-h4 {
        font-size: 14px;
      }
      .title {
        font-size: 20px;
      }
  }